<div class="container">
    <h4>Register</h4>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>
            <div *ngIf="registerForm.controls['email']?.invalid && registerForm.controls['email']?.touched"
                class="text-danger">
                Email is required.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
                required>
            <div *ngIf="registerForm.controls['password']?.invalid && registerForm.controls['password']?.touched"
                class="text-danger">
                Password is required.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
        <div *ngIf="successMessage" class="text-success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
    </form>
</div>